{
  "env": {
    "production": {
      "presets": ["latest", "stage-2", "babili"],
      "comments": false
    },
    "development": {
      "presets": ["latest", "stage-2"],
    },
    "test": {
      "presets": ["latest", "stage-2"],
    }
  }
}